body {
  font-family: arial, sans-serif;
  margin: 20px;
  background-color:#f5f5f5;
}

#container {
  width:fit-content;
  max-width:1000px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 8px;

  background-color: white;
}

#notation {
  display: inline-block;
  margin: 0 auto;
  overflow-x: auto;
}

#controls {
  margin-bottom: 0;
  margin-left:80px;
}

#music-info {
  margin-left:5px;
}

button {
  padding: 5px;
  margin: 1px;
  border: none;
  border-radius: 4px;
  background-color: #5f492f;
  color: white;
  cursor: pointer;
}

.responsive-btn {
  padding: 0.5em;         /* Relative spacing */
  font-size: 1.2em;              /* Responsive to root font size */
  margin: 0.1em;                 /* Space between buttons */
  min-width: 60px;               /* WCAG recommended min touch target */
  min-height: 60px;
  transition: background 0.2s;
}

button:hover {
  background-color: #372918;
}

input[type="file"] {
  margin: 10px 0;
}


g.note.playing {
  fill: crimson;
}